<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Christi Richmond</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://bootswatch.com/4/litera/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <div class = "center-body"> 
        <%= yield %>
    </div>
  </body>

<style>
.bg-4 { 
    background-color: #f6cb2b;
    color: #ffffff;
}
</style>

<footer class="container-fluid bg-4 text-center">
 © Christi Richmond, 2018 <br>
    Visit my <a href="http://www.christirichmond.com" target="blank">website</a> for more.
</footer>
</html>


